.video-container {
  display: flex;
  position: relative;
  padding: 50px;
  background-color: #000000;
  margin-bottom: 15px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  
}

.portada {

  top: 0;
  left: 0;
  width: 50%;
  /* Ancho completo del contenedor */
  height: 472px;
  background-image: url('/images/pic.png');
  background-size: cover;
  display: grid;
  place-items: center;
  border-radius: 5px;
}


.videodeentrada {
  font-size: 18px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  background-color: #000000;
  color: #ffffff;
  position: absolute;
  z-index: 3;
  cursor: pointer;
}



.texto-derecha {
  margin: 20px;
  padding: 0px;
  color: white;
}


@media only screen and (max-width: 768px) {
  .video-container {
    flex-direction: column;
    padding: 20px;
  }

  .portada {
    width: 100%;
    margin-bottom: 20px;
    background-position: center center;
  }

  .texto-derecha {
    margin: 0;
  }
}